/* ImageProcessor.css */

.canvas-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.canvas-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.canvas-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.canvas-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.canvas-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}